<html>
    <head>
        <title>PyVMSA</title>
    </head>
    <body>
        <div>
            <h1>Virtual Machine {{machine}}</h1>
        </div>
        <h2>Storage Information</h2>
        <table>
            <tr><th>Datastore</th><th>Committed</th><th>Uncommitted</th><th>Unshared</th></tr>
            {% for strg in machine.storage_set.all %}
                <tr><td>{{strg.datastore}}</td><td>{{strg.committed}}</td><td>{{strg.uncommitted}}</td><td>{{strg.unshared}}</td></tr>
            {% endfor %}
         </table>
        <h2>Guest Information</h2>
        <p><b>Tool Status: </b>{{machine.toolsStatus}}</p>
        <p><b>Guest Full Name: </b>{{machine.guestFullName}}</p>
        <p><b>Host Name: </b>{{machine.hostName}}</p>
        <p><b>Guest State: </b>{{machine.guestState}}</p>
        <p><b>IP Address: </b>{{machine.ipAddress}}</p>
        <table>
            <tr><th>Disk Path</th><th>Capacity</th><th>Free Space</th></tr>
            {% for disk in machine.disk_set.all %}
                <tr><td>{{disk.diskpath}}</td><td>{{disk.capacity}}</td><td>{{disk.freespace}}</td></tr>
            {% endfor %}
         </table>
        <table>
            <tr><th>IP Route</th><th>Gateway</th></tr>
            {% for route in machine.route_set.all %}
                <tr><td>{{route.iproute}}</td><td>{{route.gateway}}</td></tr>
            {% endfor %}
         </table>
        <h2>Configuration Information</h2>
        <p><b>CPU Number:</b> {{machine.numcpu}} | <b>Cores per Socket:</b> {{machine.numcorepersocket}} | <b>Memory (MB):</b> {{machine.memorymb}}</p>
    </body>
    <footer><a href="{% url 'machine_list'%}">Host</a></footer>
</html>
