<html>
    <head>
        <title>PyVMSA</title>
    </head>
    <body>
        <div>
            <h1>PyVMSA</h1>
        </div>
        {% for host in hosts %}
            <div>
                <h2>{{ host.host_ip }}</h2>
                <p><b>Данные от: {{ host.created_date }}</b></p>
                <p><b>About:</b> {{ host.host_fullname }}, {{ host.host_ostype }}, {{ host.host_productlineid }}, {{ host.host_apiversion }} </p>
                <p><b>Compute:</b> {{ host.host_name }} | <b>Total CPU:</b> {{ host.host_totalcpu }} | <b>CPU Cores:</b> {{ host.host_numcpucores }} | <b>CPU Threads:</b> {{ host.host_numcputhreads }} | <b>Effective CPU:</b> {{ host.host_effectivecpu }}</p>
                <p><b>Total Memory:</b> {{host.host_totalmemory }} | <b>Effective Memory:</b> {{ host.host_effectivememory }} </p>
                <p><b>Overall Status:</b> {{ host.host_overallstatus }}</p>
                <p><b>Data Stores</b></p>
                <table border="1">
                <tr><th>Name</th><th>Datastore</th><th>URL</th><th>Capacity</th><th>Free Space</th><th>Type</th></tr>
                    {% for dtstr in host.datastore_set.all %}
                    <tr><td>{{dtstr.name}}</td><td>{{dtstr.datastore}}</td><td>{{dtstr.url}}</td><td>{{dtstr.capacity}}</td><td>{{dtstr.freespace}}</td><td>{{dtstr.type}}</td></tr>
                    {% endfor %}
                </table>
               <p><b>Virtual Machines</b></p>
                {% for vswitch in host.virtualswitch_set.all %}
                    <p>Virtual Switch: Name: {{ vswitch.name }}, MTU {{vswitch.mtu}}</p>
                    <p>Physical Nic</p>
                    {% for pnick in vswitch.physicalnick_set.all %}
                        <li>{{pnick.device}}: <b>Driver: </b> {{pnick.driver}} | <b>MAC: </b> {{pnick.mac}} | <b>Speed MB: </b> {{pnick.speedmb}} | <b>Duplex: </b> {{pnick.duplex}}</li>
                    {% endfor %}
                    <p>Port Groups</p>
                    {% for vnick in vswitch.portgroup_set.all %}
                        <li>{{vnick.name}}: <b>VLAN ID: </b> {{vnick.vlanid}}</li>
                        <p>Virtual Nic: <b>Device: </b> {{vnick.device}} | <b>DHCP: </b> {{vnick.dhcp}} | <b>IP Address: </b> {{vnick.ipaddress}} | <b>Subnet Mask: </b> {{vnick.subnetmask}} | <b>MAC: </b> {{vnick.mac}}</p>
                    {% endfor %}
                {% endfor %}
                {% for vm in host.virtualmachine_set.all %}
                    <li><a href="{% url 'machine_detail' pk=vm.pk %}">{{ vm }}</a></li>
                {% endfor %}
            </div>
        {% endfor %}
    </body>
</html>

